.pixelNavbarElementText{
    font-family: 'DotGothic16', sans-serif;
    font-size: 2rem ;
    background: -webkit-linear-gradient(270deg, rgb(240, 5, 122) 70%,rgba(0,0,0,1) 3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:'transparent';
}