html{
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  min-height: 100%;
}
::-webkit-scrollbar{
  background-color: transparent;
  width: 0%;
}

.container-fluid{
  overflow-x: hidden;
  padding: 0;
  height: auto;
  background: transparent;
}
