
.about-us-body-text{
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    
}

.about-us-body-title{
    padding-top: 2vh;
    font-weight: 1000;
    text-align: center;
}

about-us-text-container{
    opacity: 10%;
}